<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148220971719-cnql9suc3342r221fqnru3g1jrqino7n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148220971719-cnql9suc3342r221fqnru3g1jrqino7n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>148220971719-bjfv06mb8am44fi6np8n0kmh7qkjb0s5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLOceNxWyQJHpI8-ne1eVIvgzQBDxA4EU</string>
	<key>GCM_SENDER_ID</key>
	<string>148220971719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rally.rallyapp</string>
	<key>PROJECT_ID</key>
	<string>game-schedule-c9299</string>
	<key>STORAGE_BUCKET</key>
	<string>game-schedule-c9299.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:148220971719:ios:4f038984403403c9</string>
	<key>DATABASE_URL</key>
	<string>https://game-schedule-c9299.firebaseio.com</string>
</dict>
</plist>
